<table> <!--thought about bringing in app tag here with orbit-list...-->
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let item of satellites"> <!--displayList not being recognized when using *ngFor... how to link to app.components.ts b/c fetch data? does orbit-list ts need to be linked?...-->
        <td>{{item.name}}</td>
        <td [class.warning]="item.isSpaceDebris()">{{item.type}}</td>
        <td>{{item.operational}}</td>
        <td>{{item.launchDate}}</td>
        <td>{{item.name}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

